[submodule "forensic/bmc-tools"]
	path = forensic/bmc-tools
	url = https://github.com/ANSSI-FR/bmc-tools
[submodule "forensic/forensic/bruteforce-luks"]
	path = forensic/forensic/bruteforce-luks
	url = https://github.com/glv2/bruteforce-luks
[submodule "forensic/volatility3"]
	path = forensic/volatility3
	url = https://github.com/volatilityfoundation/volatility3
[submodule "forensic/aes-finder"]
	path = forensic/aes-finder
	url = https://github.com/mmozeiko/aes-finder
[submodule "forensic/community"]
	path = forensic/community
	url = https://github.com/volatilityfoundation/community
[submodule "forensic/profiles"]
	path = forensic/profiles
	url = https://github.com/volatilityfoundation/profiles
[submodule "reverse_engineering/ghidra"]
	path = reverse_engineering/ghidra
	url = https://github.com/NationalSecurityAgency/ghidra
[submodule "pentest/web/CVE-2019-15107"]
	path = pentest/web/CVE-2019-15107
	url = https://github.com/MuirlandOracle/CVE-2019-15107
[submodule "pentest/web/domdig"]
	path = pentest/web/domdig
	url = https://github.com/fcavallarin/domdig.git
[submodule "pentest/web/bypass-url-parser"]
	path = pentest/web/bypass-url-parser
	url = https://github.com/laluka/bypass-url-parser.git
[submodule "pentest/PayloadsAllTheThings"]
	path = pentest/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
[submodule "pentest/pivoting/chisel"]
	path = pentest/post-exploitation/pivoting/chisel
	url = https://github.com/jpillora/chisel
[submodule "pentest/web/ssti-payload"]
	path = pentest/web/ssti-payload
	url = https://github.com/VikasVarshney/ssti-payload
[submodule "pentest/web/kiterunner"]
	path = pentest/web/kiterunner
	url = https://github.com/assetnote/kiterunner
[submodule "pentest/web/jwt_tool"]
	path = pentest/web/jwt_tool
	url = https://github.com/ticarpi/jwt_tool
[submodule "pentest/web/Pholus"]
	path = pentest/web/Pholus
	url = https://github.com/aatlasis/Pholus
[submodule "pentest/web/ApacheTomcatScanner"]
	path = pentest/web/ApacheTomcatScanner
	url = https://github.com/p0dalirius/ApacheTomcatScanner
[submodule "pentest/web/clusterd"]
	path = pentest/web/clusterd
	url = https://github.com/hatRiot/clusterd
[submodule "pentest/web/gobuster"]
	path = pentest/web/gobuster
	url = https://github.com/OJ/gobuster
[submodule "pentest/ad/CrackMapExec"]
	path = pentest/ad/CrackMapExec
	url = https://github.com/Porchetta-Industries/CrackMapExec
[submodule "pentest/ad/enum4linux"]
	path = pentest/ad/enum4linux
	url = https://github.com/CiscoCXSecurity/enum4linux
[submodule "pentest/hash_craking/john"]
	path = pentest/post-exploitation/hash_craking/john
	url = https://github.com/openwall/john
[submodule "pentest/hash_craking/hashcat"]
	path = pentest/post-exploitation/hash_craking/hashcat
	url = git@github.com:hashcat/hashcat.git
[submodule "pentest/impacket"]
	path = pentest/impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "pentest/thc-hydra"]
	path = pentest/thc-hydra
	url = git@github.com:vanhauser-thc/thc-hydra.git
[submodule "pentest/Responder"]
	path = pentest/Responder
	url = git@github.com:SpiderLabs/Responder.git
[submodule "pentest/kekeo"]
	path = pentest/post-exploitation/kekeo
	url = git@github.com:gentilkiwi/kekeo.git
[submodule "pentest/privesc/windows/Watson"]
	path = pentest/post-exploitation/privesc/windows/Watson
	url = git@github.com:rasta-mouse/Watson.git
[submodule "pentest/privesc/windows/Windows-Exploit-Suggester"]
	path = pentest/post-exploitation/privesc/windows/Windows-Exploit-Suggester
	url = git@github.com:AonCyberLabs/Windows-Exploit-Suggester.git
[submodule "pentest/privesc/PEASS-ng"]
	path = pentest/post-exploitation/privesc/PEASS-ng
	url = git@github.com:carlospolop/PEASS-ng.git
[submodule "pentest/ad/kerbrute"]
	path = pentest/ad/kerbrute
	url = git@github.com:ropnop/kerbrute.git
[submodule "forensic/android/ALEAPP"]
	path = forensic/android/ALEAPP
	url = git@github.com:abrignoni/ALEAPP.git
[submodule "forensic/android/androidqf"]
	path = forensic/android/androidqf
	url = git@github.com:botherder/androidqf.git
[submodule "pentest/web/fzf"]
	path = pentest/web/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "pentest/web/ffuf"]
	path = pentest/web/ffuf
	url = git@github.com:ffuf/ffuf.git
[submodule "forensic/Duck-Decoder"]
	path = forensic/Duck-Decoder
	url = git@github.com:JPaulMora/Duck-Decoder.git
[submodule "forensic/volatility"]
	path = forensic/volatility
	url = git@github.com:volatilityfoundation/volatility.git
[submodule "forensic/volatility-plugins"]
	path = forensic/volatility-plugins
	url = git@github.com:TazWake/volatility-plugins.git
[submodule "forensic/bruteforce-luks"]
	path = forensic/bruteforce-luks
	url = git@github.com:glv2/bruteforce-luks.git
[submodule "reverse_engineering/flare-vm"]
	path = reverse_engineering/flare-vm
	url = git@github.com:mandiant/flare-vm.git
[submodule "reverse_engineering/jadx"]
	path = reverse_engineering/jadx
	url = git@github.com:skylot/jadx.git
[submodule "reverse_engineering/rules"]
	path = reverse_engineering/rules
	url = git@github.com:Yara-Rules/rules.git
[submodule "pentest/post-exploitation/pspy"]
	path = pentest/post-exploitation/pspy
	url = git@github.com:DominicBreuker/pspy.git
[submodule "pentest/static-binaries"]
	path = pentest/static-binaries
	url = git@github.com:andrew-d/static-binaries.git
[submodule "pentest/SecLists"]
	path = pentest/SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "pentest/post-exploitation/evil-winrm"]
	path = pentest/post-exploitation/evil-winrm
	url = git@github.com:Hackplayers/evil-winrm.git
[submodule "pentest/web/fimap"]
	path = pentest/web/fimap
	url = git@github.com:kurobeats/fimap.git
[submodule "Empire"]
	path = pentest/post-exploitation/Empire
	url = git@github.com:BC-SECURITY/Empire.git
[submodule "pentest/post-exploitation/sliver"]
	path = pentest/post-exploitation/sliver
	url = git@github.com:BishopFox/sliver.git
[submodule "forensic/VolWeb"]
	path = forensic/VolWeb
	url = git@github.com:k1nd0ne/VolWeb.git
[submodule "pentest/post-exploitation/mimikatz"]
	path = pentest/post-exploitation/mimikatz
	url = git@github.com:gentilkiwi/mimikatz.git
[submodule "pentest/post-exploitation/Starkiller"]
	path = pentest/post-exploitation/Starkiller
	url = git@github.com:BC-SECURITY/Starkiller.git
[submodule "pentest/web/GitTools"]
	path = pentest/web/GitTools
	url = git@github.com:internetwache/GitTools.git
[submodule "pentest/nc.exe"]
	path = pentest/nc.exe
	url = git@github.com:int0x33/nc.exe.git
[submodule "pentest/masscan"]
	path = pentest/masscan
	url = git@github.com:robertdavidgraham/masscan.git
[submodule "pentest/dns/dnscan"]
	path = pentest/dns/dnscan
	url = https://github.com/rbsec/dnscan
[submodule "pentest/dns/Spoofy"]
	path = pentest/dns/Spoofy
	url = https://github.com/MattKeeley/Spoofy
[submodule "pentest/MailSniper"]
	path = pentest/MailSniper
	url = git@github.com:dafthack/MailSniper.git
[submodule "pentest/SprayingToolkit"]
	path = pentest/SprayingToolkit
	url = git@github.com:byt3bl33d3r/SprayingToolkit.git
[submodule "osint/OPSE-Framework"]
	path = osint/OPSE-Framework
	url = git@github.com:OPSE-Developers/OPSE-Framework.git
[submodule "pentest/pwncat"]
	path = pentest/pwncat
	url = git@github.com:calebstewart/pwncat.git
[submodule "pentest/web/php-reverse-shell"]
	path = pentest/web/php-reverse-shell
	url = git@github.com:ivan-sincek/php-reverse-shell.git
[submodule "pentest/Auto_Wordlists"]
	path = pentest/Auto_Wordlists
	url = git@github.com:carlospolop/Auto_Wordlists.git
[submodule "pentest/exploitdb"]
	path = pentest/exploitdb
	url = git@gitlab.com:exploit-database/exploitdb.git
[submodule "pentest/dns/subfinder"]
	path = pentest/dns/subfinder
	url = git@github.com:projectdiscovery/subfinder.git
