[submodule "forensic/bmc-tools"]
	path = forensic/bmc-tools
	url = https://github.com/ANSSI-FR/bmc-tools
[submodule "forensic/forensic/bruteforce-luks"]
	path = forensic/forensic/bruteforce-luks
	url = https://github.com/glv2/bruteforce-luks
[submodule "forensic/volatility3"]
	path = forensic/volatility3
	url = https://github.com/volatilityfoundation/volatility3
[submodule "forensic/aes-finder"]
	path = forensic/aes-finder
	url = https://github.com/mmozeiko/aes-finder
